<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Summa Node</title>
	<link rel="stylesheet" type="text/html" href="E:\html\Node_js\MyFirstApp\RestfulRoutes\bootstrap.css">
	<link rel="stylesheet" type="text/javascript" href="E:\html\Node_js\MyFirstApp\RestfulRoutes\bootstrap.min.js">
	<style type="text/css">
		a{
			font-size: 20px;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-inverse ">
		<span class="navbar-brand">BlogSite</span>
		<span class="  navbar-brand">
			<a href="/blogs">Home</a>
			<a href="/blogs/new">New Blog</a>
		</span>
	</nav>
</body>
</html>
